
@media (min-width: 768px) {
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        text-align: left;
    }

    header h1 {
        margin-bottom: 0;
    }

    #menu {
        display: none;
    }

    nav ul.navigation {
        display: flex !important;
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 0;
    }


    main {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }


    main h1 {
        grid-column: 1 / -1;
    }
}